@font-face {
    font-family: "standardboldit";
    src: url(./ressources/font/Jost-Medium.ttf);
    font-style: normal
    font-weight: 600;
}

@font-face {
    font-family: "sprat";
    src: url(./ressources/font/Jost-Light.ttf);
    font-style: normal
    font-weight: 600;
}

body{
    font-family: "sprat";
    padding: 1px;
    margin: 50px;
    margin-top: 30px;
    height: 110vh;
    cursor: url(./ressources/images/sapin1.png);
}

html{
    scroll-behavior: smooth;
}


/* ************** portfolio flexbox ****************** */

.container{
  width: 100%;
  height: 100%;
  display: flex; /* active flexbox */
  flex-direction: row; /* aligne les items en ligne */
  flex-wrap: wrap; /* autorise les items Ã  passer Ã  la ligne */
  justify-content: flex-start; /* justifie Ã©lÃ©ments depuis le start en haut Ã  gauche */
  align-items: flex-start; /* aligne Ã©lÃ©ments depuis le start en haut Ã  gauche */
    margin-top: -1%;
    margin-left: -2%;
}

.item-sidebar{
  width: 300px;
  height: auto; /* height auto selon content */
  flex-grow: 1; /* autorise l'item Ã  grow en largeur */
}

.item-portfolio{
  width: 600px;
  height: 100%;
  flex-grow: 2; /* autorise l'item Ã  grow en largeur, 2 fois plus que celui qui a flex-grow: 1; */
  padding-right: ;
  padding-top: 1%;
}

.contact-sidebar{
    font-family: "standardboldit";
    font-size: 1.5em;
    font-weight: 600;
    color: black; 
    margin-bottom: -5px;
}

.infos-sidebar{
    font-family: "sprat";
    font-size: 1.3em;
    color: black;
    padding-bottom: 30px;
}

.portfolio-img{
    max-width: 100vh;
    width: 100%;
    height: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    margin-bottom: -20px;
}

.portfolio-projet-titre{
    font-family: "standardboldit";
    font-size: 1.5em;
    font-weight: 600;
    color: black;
    padding-left: 0%;
}

.portfolio-projet-info{
    font-family: "sprat";
    font-size: 1.4em;
    color: black;
    padding-left: 0%;
    margin-top: -27px;
    margin-bottom: 8%;
}


/* ************** pages projets flexbox ****************** */

.container-projet{
  width: 100%;
  height: 100%;
  display: flex; /* active flexbox */
  flex-direction: row; /* aligne les items en ligne */
  flex-wrap: wrap; /* autorise les items Ã  passer Ã  la ligne */
  justify-content: flex-start; /* justifie Ã©lÃ©ments depuis le start en haut Ã  gauche */
  align-items: flex-start; /* aligne Ã©lÃ©ments depuis le start en haut Ã  gauche */  
  margin-top: -1%;
  margin-left: -2%;
}

.item-descriptionprojet{
  width: 300px;
  height: auto;
  flex-grow: 1; /* autorise l'item Ã  grow en largeur */
  padding-right: 3%;
}

.item-photosprojet{
  width: 600px;
  height: 100%;
  flex-grow: 2; /* autorise l'item Ã  grow en largeur, 2 fois plus que celui qui a flex-grow: 1; */
  padding-right: 5%;
  padding-top: 1%;
}

.titre-projet{
    font-family: "standardboldit";
    font-size: 1.5em;
    font-weight: 600;
    color: black;
    margin-top: 30%;
}

.description-projet{
    font-family: "sprat";
    font-size: 1.1em;
    color: black;
    padding-bottom: 30px;
}

.projet-img{
    max-width: 100vh;
    width: 100%;
    height: 100%;
    padding-left: 0%;
    padding-right: 5%;
    padding-bottom: 0%;
}



/* ************** textes centre pages ****************** */

.presentation{
    font-family: "standardboldit";
    font-size: 3em;
    font-weight: 600;
    color: black;
    line-height: 150%; 
    text-align:center;
    margin: auto;
    width: 90vw;
    margin-top: 30vh;
} 

.retourindex{
    font-family: "standardboldit";
    font-size: 5em;
    font-weight: 600;
    line-height: 100%;
    text-decoration: none;
    float: left;
    color: black;
    padding-right: 50px;
}

.contact{
    font-family: "standardboldit";
    font-size: 2em;
    font-weight: 600;
    color: black;
    line-height: 150%; 
    text-align:center;
    margin: auto ;
    width: 65vw;
    margin-top: 20vh;    
}

/* .apropos{
    font-family: "sporting";
    font-size: 2em;
    font-weight: 600;
    color:#F86147;
    line-height: 150%; 
    text-align:center;
    margin: auto ;
    width: 65vw;
    margin-top: 20vh;   
}  */

.photo{
    font-family: "standardboldit";
    font-size: 2em;
    font-weight: 600;
    color: black;
    line-height: 150%; 
    text-align:center;
    margin: auto ;
    width: 65vw;
    margin-top: 20vh; 
}

/*.pres{
    font-family: "sporting";
    font-size: 4em;
    font-weight: 600;
    color: #F86147; 
} */



/* ************** titre et nav ****************** */

.menu{
    padding-left: 0%;
    padding-top: 1%;
    list-style-type: none;
} 

.menu li{
    display: inline;
}

.menu_projets{
    padding-left: 0%;
    padding-top: 15%;
    width: 15vw;
    list-style-type: none;
    line-height: 170%;
} 

nav li a{
    font-family: "standardboldit";
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-right: 1%;
}

.retourindex:hover{
    color: darkslategray;
}

.hoverorange:hover{
    color: darkslategray;
    /* font-style: italic; */ 
}


/* ************** cv colonnes ****************** */


.cvcolonne_parent{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cvcolonne_parcours{
    flex: 50%;
    font-family: "sprat";
    font-size: 1em;
    font-weight: 600;
    color: black;
    line-height: 150%; 
    text-align:left;
    margin-top: 5vh;
}

.cvcolonne_skills{
    flex: 50%;
    font-family: "sprat";
    font-size: 1em;
    font-weight: 600;
    color: black;
    line-height: 150%; 
    text-align:left;
    margin-top: 5vh;
}

.cvcolonne_telecharger{
    flex: 50%;
    font-family: "sprat";
    font-size: 1em;
    font-weight: 600;
    color: black;
    line-height: 150%; 
    text-align:left;
    margin-top: 5vh;
}

a{
    text-decoration: none;
    color: black;
}



/* ************** portfolio ****************** */


/* .portfolio_parent{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10%;
}

/* (enfant) image Ã  afficher au survol */
/* div.afficherimage{ 
    display:none;
}

.portfolio_titre{
    flex: 50%;
    font-family: "standardboldit";
    font-size: 1em;
    font-weight: 600;
    color: black;
    line-height: 150%; 
    text-align:left;
    margin-top: 5vh;
}

/* (parent) texte Ã  survoler pour afficher img */
/* div.portfolio_titre:hover .afficherimage{ 
    display: block;
}



/* ************** pages projets ****************** */

/*
.projet_conteneur{
    display: flex;
}

.projet{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    width: 100%;
}

.projet_titre{
    font-family: "standardboldit";
    font-size: 1em;
    font-weight: 600;
    color: black;
    line-height: 150%; 
    text-align:left;
    margin-left: 0px;
    margin-top: 0px;
}

.projet_description{
    font-family: "sprat";
    font-size: 1em;
    font-weight: 600;
    color: black;
    line-height: 150%; 
    text-align:left;
    margin-left: 0px;
    margin-top: 0px;
}

 */



